@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;900&family=Roboto:wght@400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: 0;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;
}

button,
input,
textarea,
select {
  outline: 0;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

select::-ms-expand {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 0) and (max-width: 767px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.4rem;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.report-control__btn-full-report, .report-control__btn-save, .report-control__btn-delete, .btn-full-report {
  width: 100%;
  border-radius: var(--border-radius-base);
  background-color: var(--color-main-500);
  padding: 1.6rem 0;
  font-size: var(--font-size-lg);
  color: #fff;
  border: 0;
  font-weight: 700;
  text-align: center;
}

.measure-status-full__detail-content p, .measure-status-full__text, .wave-quality__text, .self-protection__description p, .body-type-detail__content > ul li,
.meridian-detail__content > ul li,
.tips-detail__content > ul li, .common-problem__answer p, .body-type__description p {
  font-size: var(--font-size-sm);
  line-height: 1.6;
  color: var(--color-gray-500);
}

:root {
  font-size: 10px;
  --color-bg: #F7F7F7;
  --color-main-700: #016E7A;
  --color-main-500: #00B4A4;
  --color-green-800: #357F12;
  --color-green-500: #72C14D;
  --color-yellow-800: #c69b05;
  --color-yellow-500: #EFBC08;
  --color-orange-500: #D1712C;
  --color-orange-800: #ae5617;
  --color-red-500: #D94D4E;
  --color-red-800: #a20f10;
  --color-blue-500: #3EA4DE;
  --color-meridian-0: #9ED6DE;
  --color-meridian-1: #97BBDD;
  --color-meridian-2: #8F99DB;
  --color-meridian-3: #AD8EDB;
  --color-meridian-4: #D190DB;
  --color-meridian-5: #D490A6;
  --color-meridian-6: #D6A290;
  --color-meridian-7: #DABB92;
  --color-gray-700: #413E3E;
  --color-gray-500: #5F5A5A;
  --color-gray-400: #797575;
  --color-gray-300: #939090;
  --color-gray-200: #ADAAAA;
  --color-gray-100: #C7C5C5;
  --color-gray-75: #EBEBEB;
  --color-gray-50: #F7F7F7;
  --font-size-7xl: 9.6rem;
  --font-size-6xl: 6.4rem;
  --font-size-5xl: 4.8rem;
  --font-size-4xl: 3.6rem;
  --font-size-3xl: 3rem;
  --font-size-2xl: 2.4rem;
  --font-size-xl: 2rem;
  --font-size-lg: 1.8rem;
  --font-size-base: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-size-xs: 1.2rem;
  --border-radius-lg: 1.2rem;
  --border-radius-base: 0.8rem;
  --border-radius-sm: 0.4rem;
  --color-type-0: #8DD8E0;
  --color-type-1: #8DBDE0;
  --color-type-2: #8D9AE0;
  --color-type-3: #B38DE0;
  --color-type-4: #DD8DE0;
  --color-type-5: #E08DA7;
  --color-type-6: #E0A08D;
  --color-type-7: #E0BA8D;
  --color-type-8: #E0D08D;
  --color-type-9: #CDE08D;
  --color-type-10: #A3E08D;
  --color-type-11: #8DE09D;
  --color-type-12: #8DE0D0;
  --color-type-13: #999999;
}

html {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html.fixed {
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
}
body.fixed {
  overflow: hidden;
}

.wrap {
  box-sizing: border-box;
  max-width: 48rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2.4rem;
}

.block-ui {
  border-radius: var(--border-radius-lg);
  border: solid 0.1rem var(--color-gray-75);
  background-color: #fff;
}
.block-ui__header {
  border-bottom: solid 0.1rem var(--color-gray-75);
  display: flex;
  padding: 0 2.4rem;
  height: 6.4rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.block-ui__header h2 {
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.block-ui__btn-more {
  background-color: var(--color-main-500);
  font-size: var(--font-size-sm);
  color: #fff;
  border-radius: var(--border-radius-base);
  padding: 0.8rem 1.2rem;
  border: 0;
  font-weight: 700;
}
.block-ui__body {
  padding: 2rem 2.4rem;
}
.block-ui__switch {
  display: flex;
  border-radius: var(--border-radius-base);
  overflow: hidden;
}
.block-ui__switch-btn {
  border: 0;
  font-weight: 700;
  background-color: var(--color-gray-500);
  padding: 0.8rem 2.4rem;
  color: #fff;
  font-size: var(--font-size-base);
  transition: all 300ms ease;
}
.block-ui__switch-btn.active {
  pointer-events: none;
  background-color: var(--color-main-500);
}
.block-ui__btn-tips {
  cursor: pointer;
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  border-radius: 50%;
  border: 0;
  font-size: 0;
  background: var(--color-main-500) url("../images/icon-tips.svg") no-repeat center center;
  background-size: 2rem;
  transform: translate3d(0, -50%, 0);
}

.measure-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  position: relative;
}
.measure-info__gender, .measure-info__date, .measure-info__remark {
  display: flex;
  gap: 1.2rem;
}
.measure-info__gender span, .measure-info__date span, .measure-info__remark span {
  font-size: var(--font-size-base);
  font-weight: 500;
}
.measure-info__gender span:nth-child(1), .measure-info__date span:nth-child(1), .measure-info__remark span:nth-child(1) {
  color: var(--color-gray-300);
}
.measure-info__gender span:nth-child(2), .measure-info__date span:nth-child(2), .measure-info__remark span:nth-child(2) {
  font-weight: 700;
  color: var(--color-gray-500);
}
.measure-info__btn-share, .measure-info__btn-tips {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  border: 0;
  font-size: 0;
}
.measure-info__btn-share {
  background: var(--color-main-500) url("../images/icon-share.svg") no-repeat center center;
  background-size: 2rem;
}
.measure-info__btn-tips {
  background: var(--color-main-500) url("../images/icon-tips.svg") no-repeat center center;
  background-size: 2rem;
}

.measure-status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.measure-status__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  position: relative;
  border-radius: var(--border-radius-lg);
  border: solid 0.1rem var(--color-gray-75);
  padding: 2rem;
  background-color: #fff;
}
.measure-status__item.up .measure-status__trend {
  background-color: var(--color-green-500);
}
.measure-status__item.up .measure-status__trend::before {
  background-image: url("../images/icon-arrow-up.svg");
  background-size: 0.8rem;
}
.measure-status__item.down .measure-status__point {
  color: var(--color-red-500);
}
.measure-status__item.down .measure-status__trend {
  background-color: var(--color-red-500);
}
.measure-status__item.down .measure-status__trend::before {
  background-image: url("../images/icon-arrow-down.svg");
  background-size: 0.8rem;
}
.measure-status__item.flat .measure-status__trend {
  background-color: var(--color-green-500);
}
.measure-status__item.flat .measure-status__trend::before {
  background-image: url("../images/icon-flat.svg");
  background-size: 0.8rem;
}
.measure-status__item.default .measure-status__trend {
  background-color: var(--color-gray-500);
  font-size: 0;
  padding-left: 1.2rem;
}
.measure-status__item.default .measure-status__trend::before {
  background-image: url("../images/icon-flat.svg");
  background-size: 0.8rem;
}
.measure-status__title {
  font-weight: 700;
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--color-gray-500);
}
.measure-status__point {
  font-size: var(--font-size-6xl);
  font-weight: 400;
  text-align: center;
  color: var(--color-green-500);
}
.measure-status__trend {
  height: 2.4rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 3rem;
  padding: 0 0.6rem 0 1.8rem;
  color: #fff;
  font-size: var(--font-size-xs);
  font-weight: 700;
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
}
.measure-status__trend::before {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 0.6rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  content: "";
}

.body-type__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.body-type__type-image {
  width: 12rem;
  margin: 0 auto;
}
.body-type__type-image img {
  max-width: 100%;
  display: block;
}
.body-type__description h3 {
  font-size: var(--font-size-xl);
  text-align: center;
  color: var(--color-main-500);
  margin-bottom: 1.2rem;
}
.common-problem__content {
  display: grid;
  grid-template-columns: 1fr;
}
.common-problem__question {
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-weight: 700;
  padding: 0 3.2rem 1.2rem 0;
  border-bottom: 0.1rem solid var(--color-gray-75);
  cursor: pointer;
  position: relative;
  line-height: 1.4;
}
.common-problem__question:not(:last-child) {
  margin-bottom: 1.2rem;
}
.common-problem__question::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0, 0, 0) rotate(180deg);
  background: transparent url("../images/icon-arrow.svg") no-repeat 0 0;
  background-size: cover;
  transition: all 300ms ease;
}
.common-problem__question.active::after {
  transform: translate3d(0, 0, 0) rotate(0);
}
.common-problem__answer {
  padding: 0 0 4rem;
  display: none;
}
.common-problem__answer p {
  margin-bottom: 1.2rem;
}
.common-problem__btn-buy {
  background-color: var(--color-green-500);
  display: block;
  border-radius: var(--border-radius-base);
  padding: 1.6rem;
  font-size: var(--font-size-base);
  color: #fff;
  position: relative;
  font-weight: 700;
}
.common-problem__btn-buy::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
  transform: translate3d(0, 0, 0);
  background: transparent url("../images/icon-cart.svg") no-repeat 0 0;
  background-color: cover;
}

.body-type-detail__content,
.meridian-detail__content,
.tips-detail__content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  overflow-y: auto;
  height: 100%;
  padding: 3.2rem 2.4rem;
  scrollbar-width: auto;
  scrollbar-color: #00b4a4 #ffffff;
}
.body-type-detail__content::-webkit-scrollbar,
.meridian-detail__content::-webkit-scrollbar,
.tips-detail__content::-webkit-scrollbar {
  width: 4px;
}
.body-type-detail__content::-webkit-scrollbar-track,
.meridian-detail__content::-webkit-scrollbar-track,
.tips-detail__content::-webkit-scrollbar-track {
  background: #ffffff;
}
.body-type-detail__content::-webkit-scrollbar-thumb,
.meridian-detail__content::-webkit-scrollbar-thumb,
.tips-detail__content::-webkit-scrollbar-thumb {
  background-color: #00b4a4;
  border-radius: 6px;
  border: 2px none #ffffff;
}
.body-type-detail__content > h2,
.meridian-detail__content > h2,
.tips-detail__content > h2 {
  font-size: var(--font-size-xl);
  color: var(--color-main-500);
  text-align: center;
  padding-top: 3.2rem;
}
.body-type-detail__content > ul,
.meridian-detail__content > ul,
.tips-detail__content > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  list-style: disc;
  padding-left: 1.2rem;
}
.tips-detail__list {
  display: grid;
  grid-template-columns: 1fr;
}
.tips-detail__item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 1.6rem 0;
}
.tips-detail__item:not(:last-child) {
  border-bottom: 0.1rem solid var(--color-gray-75);
}
.tips-detail__item span:nth-child(1) {
  padding: 0.8rem;
  border-radius: 50%;
  color: #fff;
  font-size: var(--font-size-sm);
}
.tips-detail__item span:nth-child(2) {
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.tips-detail__item.red span:nth-child(1) {
  background-color: var(--color-red-500);
}
.tips-detail__item.orange span:nth-child(1) {
  background-color: var(--color-orange-500);
}
.tips-detail__item.yellow span:nth-child(1) {
  background-color: var(--color-yellow-500);
}
.tips-detail__item.green span:nth-child(1) {
  background-color: var(--color-green-500);
}
.tips-detail__item.wind span:nth-child(1) {
  background-color: var(--color-main-500);
}

.blood-oxygen__content {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}
.blood-oxygen__content svg {
  width: 16rem;
}
.blood-oxygen__content svg.normal text {
  fill: var(--color-main-500);
}
.blood-oxygen__content svg.normal .blood-oxygen__circle {
  stroke: var(--color-main-500);
}
.blood-oxygen__content svg.bad text {
  fill: var(--color-red-500);
}
.blood-oxygen__content svg.bad .blood-oxygen__circle {
  stroke: var(--color-red-500);
}
.blood-oxygen__circle {
  stroke: var(--color-main-500);
  stroke-dasharray: 490 490;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: 50%;
  transform: rotate(-90deg);
}

.self-protection__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.self-protection__bar {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  position: relative;
  height: 1.6rem;
  border-radius: var(--border-radius-lg);
  background: linear-gradient(to right, var(--color-red-500) 0%, var(--color-orange-500) 25%, var(--color-yellow-500) 50%, var(--color-green-500) 75%);
}
.self-protection__point {
  height: 1.2rem;
  background-color: transparent;
  border-radius: 0;
  border-radius: var(--border-radius-lg);
  position: relative;
}
.self-protection__point::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
}
.self-protection__description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}
.self-protection__description h3 {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}
.rate-waveform__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.rate-waveform__rate, .rate-waveform__wave {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.rate-waveform__wave {
  grid-column: 1/3;
}
.rate-waveform__title {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  font-weight: 500;
}
.rate-waveform__rate-value, .rate-waveform__spo2-value {
  text-align: center;
  color: var(--color-main-500);
  font-size: var(--font-size-7xl);
  padding-bottom: 2rem;
}
.rate-waveform__spo2-value.danger {
  color: var(--color-red-500);
}

.wave-quality__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}
.wave-quality__image {
  width: 16rem;
  margin: 0 auto;
}
.wave-quality__image img {
  max-width: 100%;
  display: block;
}
.wave-quality__text {
  text-align: center;
}

.measure-status-full {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.measure-status-full__item {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  border-radius: var(--border-radius-lg);
  border: solid 0.1rem var(--color-gray-75);
  padding: 0;
  background-color: #fff;
}
.measure-status-full__item.up .measure-status-full__point {
  color: var(--color-green-500);
}
.measure-status-full__item.down .measure-status-full__point {
  color: var(--color-red-500);
}
.measure-status-full__item.lower .measure-status-full__point {
  color: var(--color-blue-500);
}
.measure-status-full__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.4rem;
  padding-right: 1.2rem;
}
.measure-status-full__title {
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.measure-status-full__header {
  display: grid;
  grid-template-columns: 1fr 8rem;
  border-bottom: 0.1rem solid var(--color-gray-75);
  padding: 2.4rem 2.4rem 1.2rem;
  align-items: center;
}
.measure-status-full__detail {
  padding: 1.2rem 2.4rem 2rem;
}
.measure-status-full__btn-toggle {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  border: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 0;
  position: relative;
}
.measure-status-full__btn-toggle::before, .measure-status-full__btn-toggle::after {
  width: 2rem;
  height: 2rem;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(0, 0.2rem, 0);
  transition: opacity 300ms ease;
}
.measure-status-full__btn-toggle::before {
  background: transparent url("../images/icon-open.svg") no-repeat 0 0;
  background-size: 2rem;
  opacity: 1;
}
.measure-status-full__btn-toggle::after {
  background: transparent url("../images/icon-hide.svg") no-repeat 0 0;
  background-size: 2rem;
  opacity: 0;
}
.measure-status-full__btn-toggle.active::before {
  opacity: 0;
}
.measure-status-full__btn-toggle.active::after {
  opacity: 1;
}
.measure-status-full__point {
  font-size: var(--font-size-6xl);
  font-weight: 400;
  text-align: center;
  text-align: right;
  position: relative;
  transform: translate3d(0.8rem, 0, 0);
}
.measure-status-full__detail-content {
  display: none;
  padding-top: 0.8rem;
}
.measure-status-full__detail-content p {
  margin-bottom: 0.8rem;
}
.measure-status-full__ref {
  display: flex;
  gap: 0.8rem;
}
.measure-status-full__upper, .measure-status-full__lower, .measure-status-full__upper-age, .measure-status-full__lower-age, .measure-status-full__upper-immunity, .measure-status-full__normal-immunity, .measure-status-full__lower-immunity {
  border-radius: var(--border-radius-sm);
  padding: 0.4rem 0.8rem 0.4rem 2rem;
  font-weight: 700;
  color: #fff;
  position: relative;
}
.measure-status-full__upper::before, .measure-status-full__lower::before, .measure-status-full__upper-age::before, .measure-status-full__lower-age::before, .measure-status-full__upper-immunity::before, .measure-status-full__normal-immunity::before, .measure-status-full__lower-immunity::before {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  background: transparent url("../images/icon-arrow-up.svg") no-repeat 0 0;
  background-size: 0.8rem;
  transform-origin: 50%;
  content: "";
}
.measure-status-full__upper {
  background-color: var(--color-green-500);
}
.measure-status-full__lower {
  background-color: var(--color-red-500);
}
.measure-status-full__lower::before {
  transform: translate3d(0, -50%, 0) rotate(-180deg);
}
.measure-status-full__upper-age {
  background-color: var(--color-red-500);
}
.measure-status-full__upper-age:before {
  background: transparent url("../images/iocn-plus-small.svg") no-repeat 0 0;
}
.measure-status-full__lower-age {
  background-color: var(--color-green-500);
}
.measure-status-full__lower-age:before {
  background: transparent url("../images/iocn-minus-small.svg") no-repeat 0 0;
}
.measure-status-full__upper-immunity {
  background-color: var(--color-red-500);
}
.measure-status-full__normal-immunity {
  background-color: var(--color-green-500);
}
.measure-status-full__normal-immunity:before {
  background: transparent url("../images/iocn-minus-small.svg") no-repeat 0 0;
}
.measure-status-full__lower-immunity {
  background-color: var(--color-blue-500);
}
.measure-status-full__lower-immunity::before {
  transform: translate3d(0, -50%, 0) rotate(-180deg);
}

.measure-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.measure-nav__btn {
  padding: 1.6rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-main-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.measure-nav__btn img {
  width: 2.4rem;
}
.measure-nav__btn span {
  color: #fff;
  font-weight: 700;
  font-size: var(--font-size-lg);
}

.additional-features__content {
  display: flex;
  justify-content: space-between;
}
.additional-features__btn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.additional-features__btn i {
  background-color: var(--color-main-500);
  box-sizing: border-box;
  display: flex;
  aspect-ratio: 1/1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}
.additional-features__btn i img {
  max-width: 100%;
  display: block;
  margin: 0;
}
.additional-features__btn span {
  font-size: var(--font-size-sm);
  text-align: center;
  color: var(--color-gray-500);
}

.remark__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.remark__measure-tags {
  display: flex;
  gap: 0.8rem;
}
.remark__measure-tags span {
  border-radius: var(--border-radius-sm);
  border: solid 0.1rem var(--color-main-500);
  padding: 0.6rem;
  color: var(--color-main-500);
  font-size: var(--font-size-sm);
}
.remark__remark-wrap {
  position: relative;
}
.remark__content-edit {
  position: relative;
  z-index: 10;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  line-height: 1.6;
  background-color: var(--color-gray-50);
  padding: 1.6rem;
  border: solid 0.1rem var(--color-gray-75);
  border-radius: var(--border-radius-base);
  transition: all 300ms ease;
  min-height: 20rem;
}
.remark__content-edit:focus {
  outline: var(--color-main-500);
}
.remark__counter {
  display: flex;
  gap: 0.4rem;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  z-index: 20;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}

.report-control {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.report-control__btn-delete {
  background-color: var(--color-red-500);
}

.pulse-phase__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.pulse-phase__pulse-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pulse-phase__pulse {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pulse-phase__pulse text {
  fill: #fff;
  font-weight: 700;
}
.pulse-phase__pulse p {
  text-align: center;
  color: var(--color-gray-400);
  font-size: var(--font-size-sm);
}
.pulse-phase__detail h4 {
  text-align: center;
  color: var(--color-gray-400);
  font-size: var(--font-size-sm);
}
.pulse-phase__detail-list {
  display: grid;
  grid-template-columns: 1fr;
}
.pulse-phase__btn {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 0;
  background-color: transparent;
  border: 0;
  border-bottom: solid 0.1rem var(--color-gray-75);
}
.pulse-phase__btn span {
  color: var(--color-gray-500);
  font-size: var(--font-size-sm);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  transition: all 500ms ease;
  opacity: 0;
}
.popup.active {
  opacity: 1;
  pointer-events: auto;
}
.popup__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: min(100%, 48rem);
  height: 48rem;
  border-radius: var(--border-radius-lg);
  background-color: #fff;
  padding: 0;
}
.popup__btn-close {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  background: var(--color-main-500) url("../images/icon-close-w.svg") no-repeat center center;
  background-size: 2rem;
  font-size: 0;
  border: 0;
  border-radius: 50%;
}

.alert {
  background-color: var(--color-red-500);
  padding: 2rem 2.4rem;
  position: relative;
}
.alert > div {
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: #fff;
  padding-right: 4.8rem;
}
.alert > button {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  transform: translate3d(0, 0, 0);
  background: transparent url("../images/icon-close-w.svg") no-repeat center center;
  background-size: 2.4rem;
  font-size: 0;
  border: 0;
}

.ct-double-octave:after, .ct-golden-section:after, .ct-major-eleventh:after, .ct-major-second:after, .ct-major-seventh:after, .ct-major-sixth:after, .ct-major-tenth:after, .ct-major-third:after, .ct-major-twelfth:after, .ct-minor-second:after, .ct-minor-seventh:after, .ct-minor-sixth:after, .ct-minor-third:after, .ct-octave:after, .ct-perfect-fifth:after, .ct-perfect-fourth:after, .ct-square:after {
  content: "";
  clear: both;
}

.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}

.ct-chart-bar .ct-label, .ct-chart-line .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-chart-donut .ct-label, .ct-chart-pie .ct-label {
  dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #d70206;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
  fill: #d70206;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #f05b4f;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
  fill: #f05b4f;
}

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: #f4c63d;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
  fill: #f4c63d;
}

.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
  stroke: #d17905;
}

.ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie {
  fill: #d17905;
}

.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
  stroke: #453d3f;
}

.ct-series-e .ct-area, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-slice-pie {
  fill: #453d3f;
}

.ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
  stroke: #59922b;
}

.ct-series-f .ct-area, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-slice-pie {
  fill: #59922b;
}

.ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
  stroke: #0544d3;
}

.ct-series-g .ct-area, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-slice-pie {
  fill: #0544d3;
}

.ct-series-h .ct-bar, .ct-series-h .ct-line, .ct-series-h .ct-point, .ct-series-h .ct-slice-donut {
  stroke: #6b0392;
}

.ct-series-h .ct-area, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-slice-pie {
  fill: #6b0392;
}

.ct-series-i .ct-bar, .ct-series-i .ct-line, .ct-series-i .ct-point, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f;
}

.ct-series-i .ct-area, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-slice-pie {
  fill: #f05b4f;
}

.ct-series-j .ct-bar, .ct-series-j .ct-line, .ct-series-j .ct-point, .ct-series-j .ct-slice-donut {
  stroke: #dda458;
}

.ct-series-j .ct-area, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-slice-pie {
  fill: #dda458;
}

.ct-series-k .ct-bar, .ct-series-k .ct-line, .ct-series-k .ct-point, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d;
}

.ct-series-k .ct-area, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-slice-pie {
  fill: #eacf7d;
}

.ct-series-l .ct-bar, .ct-series-l .ct-line, .ct-series-l .ct-point, .ct-series-l .ct-slice-donut {
  stroke: #86797d;
}

.ct-series-l .ct-area, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-slice-pie {
  fill: #86797d;
}

.ct-series-m .ct-bar, .ct-series-m .ct-line, .ct-series-m .ct-point, .ct-series-m .ct-slice-donut {
  stroke: #b2c326;
}

.ct-series-m .ct-area, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-slice-pie {
  fill: #b2c326;
}

.ct-series-n .ct-bar, .ct-series-n .ct-line, .ct-series-n .ct-point, .ct-series-n .ct-slice-donut {
  stroke: #6188e2;
}

.ct-series-n .ct-area, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-slice-pie {
  fill: #6188e2;
}

.ct-series-o .ct-bar, .ct-series-o .ct-line, .ct-series-o .ct-point, .ct-series-o .ct-slice-donut {
  stroke: #a748ca;
}

.ct-series-o .ct-area, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-slice-pie {
  fill: #a748ca;
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}

.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}

.ct-square:after {
  display: table;
}

.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}

.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}

.ct-minor-second:after {
  display: table;
}

.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.8888888889%;
}

.ct-major-second:after {
  display: table;
}

.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}

.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.3333333333%;
}

.ct-minor-third:after {
  display: table;
}

.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}

.ct-major-third:after {
  display: table;
}

.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}

.ct-perfect-fourth:after {
  display: table;
}

.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.6666666667%;
}

.ct-perfect-fifth:after {
  display: table;
}

.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}

.ct-minor-sixth:after {
  display: table;
}

.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}

.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.804697157%;
}

.ct-golden-section:after {
  display: table;
}

.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}

.ct-major-sixth:after {
  display: table;
}

.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}

.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}

.ct-minor-seventh:after {
  display: table;
}

.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.3333333333%;
}

.ct-major-seventh:after {
  display: table;
}

.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}

.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}

.ct-octave:after {
  display: table;
}

.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}

.ct-major-tenth:after {
  display: table;
}

.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}

.ct-major-eleventh:after {
  display: table;
}

.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}

.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.3333333333%;
}

.ct-major-twelfth:after {
  display: table;
}

.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}

.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}

.ct-double-octave:after {
  display: table;
}

.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: var(--color-main-500);
  /* Control the thikness of your lines */
  stroke-width: 3px;
  /* Create a dashed line with a pattern */
  stroke-linecap: round;
}
/*# sourceMappingURL=app.css.map */
