@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;900&family=Noto+Sans+TC:wght@500;900&family=Roboto:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: 0;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  line-height: 1;
}

a {
  text-decoration: none;
  color: black;
}

button,
input,
textarea,
select {
  outline: 0;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

select::-ms-expand {
  display: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 0) and (max-width: 767px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.4rem;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

:root {
  font-size: 10px;
  --color-bg: #ffffff;
  --color-red-500: #E89F9F;
  --color-red-700: #D77171;
  --color-blue-500: #7ECDE5;
  --color-blue-700: #50B3D2;
  --color-gray-50: #F5F5F5;
  --color-gray-100: #EAEAEA;
  --color-gray-200: #999999;
  --color-gray-500: #666666;
  --color-gray-700: #333333;
  --font-size-2xl: 3.2rem;
  --font-size-xl: 2.4rem;
  --font-size-lg: 1.8rem;
  --font-size-base: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-size-xs: 1.2rem;
}

html {
  font-family: "Roboto", "Noto Sans TC", "Noto Sans SC", "微軟正黑體", "Microsoft JhengHei";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}
html.is-fixed {
  overflow: hidden;
}

body {
  background-color: var(--color-bg);
}

.site-main {
  box-sizing: border-box;
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.section-chart {
  padding-top: 4rem;
  margin-bottom: 3.2rem;
}
.section-chart .yin-round {
  fill: var(--color-blue-700);
}
.section-chart .yang-round {
  fill: var(--color-red-700);
}
.section-chart .grey-path {
  fill: none;
  stroke: #EfEfEf;
  stroke-width: 16;
}
.section-chart .body-base {
  fill: #EAEAEA;
}
.section-chart .is-red {
  fill: var(--color-red-500);
}
.section-chart .is-blue {
  fill: var(--color-blue-500);
}
.section-chart .number {
  fill: #FFFFFF;
  font-size: var(--font-size-lg);
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.section-chart .yin-text {
  fill: var(--color-blue-700);
  font-size: var(--font-size-lg);
  font-weight: 900;
}
.section-chart .yang-text {
  fill: var(--color-red-700);
  font-size: var(--font-size-lg);
  font-weight: 900;
}
.section-chart .organs path {
  fill: #FFFFFF;
  fill-opacity: 0.5;
}
.section-chart .tai-chi {
  transform-origin: 50%;
  animation-name: rotation;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 10000ms;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.yang-path {
  transform-origin: 50%;
  transform: rotate(-180deg);
  stroke-dasharray: 943 943;
  stroke-dashoffset: 943;
  stroke-linecap: round;
  fill: none;
  stroke: var(--color-red-500);
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.yin-path {
  transform-origin: 50%;
  stroke-dasharray: 943 943;
  stroke-dashoffset: 943;
  transform: scaleY(-1);
  stroke-linecap: round;
  fill: none;
  stroke: var(--color-blue-500);
  stroke-width: 16;
  stroke-miterlimit: 10;
}

.section-result {
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 0.1rem dotted var(--color-gray-100);
}
.section-result__title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.section-result__title span {
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  border: solid 0.2rem var(--color-gray-500);
  font-size: var(--font-size-lg);
  line-height: 1.6;
  text-align: center;
  color: var(--color-gray-500);
}
.section-result__text {
  line-height: 1.6;
  color: var(--color-gray-500);
  font-size: var(--font-size-sm);
}

.section-intro {
  padding-bottom: 4rem;
}
.section-intro__block:not(:last-child) {
  margin-bottom: 3.2rem;
}
.section-intro__title {
  font-size: var(--font-size-lg);
  position: relative;
  padding-left: 2rem;
  line-height: 1.6;
  color: var(--color-gray-500);
  margin-bottom: 0.8rem;
}
.section-intro__title::before {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  border-radius: 50%;
  content: "";
  background-color: var(--color-gray-200);
}
.section-intro__title.is-red::before {
  background-color: var(--color-red-500);
}
.section-intro__title.is-blue::before {
  background-color: var(--color-blue-500);
}
.section-intro__text {
  line-height: 1.6;
  color: var(--color-gray-500);
  font-size: var(--font-size-sm);
  padding-left: 2rem;
}
/*# sourceMappingURL=app.css.map */
